<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/campuschat.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/materialize.css">
    <!--STYLES END-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>    
    
    <header>
      <nav class="top-nav colorCampusChat" id="nav" style="display:none">
          <div class="row">
            <div class="valign-wrapper col s10">
                <img id="imagenUsuarioSeleccionado" src="" alt="" class="circle responsive-img" width="50" height="50"> 
                <span id="nombreUsuarioSeleccionado" class="white-text"></span>
            </div>

            <div class="input-field col s1">
              <div class="btn-floating btn-large waves-effect waves-light white file-field input-field">
                <div>
                  <span><i class="material-icons colorCampusChat-text">image</i></span>
                  <input type="file" accept="image/*">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>

            <div class="input-field col s1">
              <div class="btn-floating btn-large waves-effect waves-light white file-field input-field">
                <div>
                  <span><i class="material-icons colorCampusChat-text">attach_file</i></span>
                  <input type="file" accept=".pdf,.doc,.docx,.odt" >
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>
          
      </nav>

      <ul id="slide-out" class="side-nav fixed">
        <!--Encabezado del usuario imagen, nombre, correo-->
        <li>
          <div class="user-view colorCampusChat">
            <img class="circle" src="<%= session.user.imagen  %>">
            <a class="center"><span class="white-text name"><%= session.user.name  %> <%= session.user.last_name  %></span></a>
            <a class="center"><span class="white-text email"><%= session.user.email  %></span></a>
          </div>
        </li>

        <!--Buscador de usuarios disponibles-->
        <li>
          <div class="nav-wrapper ">
            <form>
              <div class="input-field">
                <input id="search" type="search" placeholder="Buscar..." required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              </div>
            </form>
          </div>
        </li>  

        <!--Listado de usuarios asociados al usuario autenticado-->
        <% _.each(rawResult, function(user) {%>
           <li>
              <a href="#" onclick="usuarioSeleccionado({'nombre':'<%= user.nombreCompaniero %>', 'apellido': '<%= user.apellido1Companiero %>','imagen':'<%= user.imagen %>','idReceptor':'<%= user.idCompaniero %>' })">
                <div class="valign-wrapper">
                    <img src="<%= user.imagen %>" alt="" class="circle responsive-img" width="50" height="50"> 
                    <span class="black-text">
                      <%=user.nombreCompaniero%> <%=user.apellido1Companiero%> 
                    </span>
                </div>
              </a>
              <div class="divider"></div>
              <div class="divider"></div>          

            </li>  
        <% })%>         
        
      </ul>
      
    </header>
    
    <main>

        <div class="container center" id="logoInicio">
          <img class="responsive-img" width="650" src="/images/logo2.png">                    
        </div>

        <!--Contenedor de mensajes -->    
        <div id="chatBody" class="row contenedorChat" style="display:none">

          <div class="container" id="chatList"> </div>
    </div>

    </main>

    <footer>

      <div class="container">        
        <div class="row" id="footer" style="display:none">
          <form class="col s12 " onsubmit="return false;">
            <div class="row">
              <div class="input-field col s11">
                <i class="material-icons prefix">message</i>
                <textarea  id="mensaje" name="mensaje" class="materialize-textarea validate" required></textarea>
                <label for="mensaje" data-error="No se pueden enviar mensajes en blanco">Escribe un mensaje aquí</label>
              </div>
              <div class="input-field col s1">
                <button type="button" id="enviarMensajeButton" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons colorCampusChat">send</i></button>
              </div>
            </div>
          </form>
        </div>   
      </div>

    </footer>

   <!--SCRIPTS-->
   <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
   <script src="/js/dependencies/sails.io.js"></script>
   <script src="/js/materialize.js"></script>
   <script src="/js/materialize.min.js"></script>
   <!--SCRIPTS END-->


   <script>
     //Variables

     //Usuarios
     var transmisor = '<%= session.user.id  %>';
     var receptor;
     var grupo;

     //Petición para mensajes
     var peticion = '/mensajes/mensajes';
     
     //Botones
     var enviarMensajeButton = document.querySelector('#enviarMensajeButton');
     //Cuerpo del mensaje
     var mensaje = document.querySelector('#mensaje');
     var listaMensajes = document.querySelector('#chatList');


     //console.log(transmisor);


     function addMessage(transmitter, receiver, message) { 
        //Agrega mensajes a una lista
        
        if (transmitter.id == transmisor) {
          listaMensajes.innerHTML =   listaMensajes.innerHTML+'<div class="col s12">'+
                                '<div class="col s6">'+              
                                  '<div class="left">'+
                                    '<div class="valign-wrapper">'+
                                        '<img src="'+transmitter.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                        '<span class="black-text">'+message+
                                        '</span>'+
                                    '</div>'+
                                    '<br>'+            
                                  '</div>'+        
                                '</div>'+
                              '</div>';  

        }else{
          listaMensajes.innerHTML = listaMensajes.innerHTML+'<div class="right col s12">'+
                                  '<div class="col s6 offset-s6">' +
                                    '<div class="right">'+
                                      '<div class="valign-wrapper">'+
                                          '<span class="black-text">'+message+'</span>'+
                                          '<img src="'+transmitter.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                      '</div>'+
                                      '<br>'+            
                                    '</div>'+
                                  '</div>'+        
                                '</div>';          
        }

        // cuando exista un nuevo mensaje
        $("#chatBody").animate({scrollTop: $(this).height()+100000}, 'fast');
        return false;
 
      }

     function usuarioSeleccionado(usuario) {        
        //Obtener el usuario o grupo seleccionado

        //Usuario o grupo receptor
        receptor = usuario.idReceptor;

        $('#logoInicio').hide(); //oculto el logo        
        document.getElementById("imagenUsuarioSeleccionado").src = usuario.imagen;
        $("#nombreUsuarioSeleccionado").html('&nbsp&nbsp'+usuario.nombre+' '+usuario.apellido);

        $('#nav').show(); //muestro el encabezado con la información del usuario seleccionado
        $('#footer').show(); //muestro el encabezado con la información del usuario seleccionado
        $('#chatBody').show(); //muestro la listas de mensajes
        

        //Obtener los mensajes del usuario seleccionado
        io.socket.get(peticion,{ transmitter:transmisor, receiver:receptor, group : grupo},function(data, response) {
          //console.log(data);

          data.forEach(function(value) { 
            //variables para el formato del mensaje
            var transmitter;
            var receiver;
            var message;

            if (value.id_transmisor.id == transmisor) {
              transmitter = value.id_transmisor;
              receiver = value.id_receptor;
              message = value.contenido;
            }else if(value.id_receptor.id == transmisor){
              transmitter = value.id_transmisor;
              receiver = value.id_receptor;
              message = value.contenido;
            }        
            addMessage(transmitter, receiver, message);

          }

          );

          io.socket.on('new_message', function(broadcastedData){  
            //console.log(broadcastedData);
            addMessage(broadcastedData.id_transmisor, broadcastedData.id_receptor, broadcastedData.contenido);
          }); 

        });

      }


     enviarMensajeButton.addEventListener('click', function(e){
        //Verificar que existan datos en el formulario del mensaje
        if (mensaje.value) {
          var data = {
            contenido: mensaje.value,
            id_transmisor: transmisor,
            id_receptor: receptor,
            id_grupo: grupo           
          }
          //Guardar los mensajes en la BD, persistencia
          io.socket.post('/mensajes', data, function(data, response) {
            mensaje.value = null;
          });
        }
     });     
     
   </script>

  </body>
</html>