<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/campuschat.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/materialize.css">
    <!--STYLES END-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>    
    
    <header>
    
      <nav class="top-nav colorCampusChat" id="nav" style="display:none">
        <div class="row">
          <a class="modal-trigger" href="#archivos" title="Presiona para ver los archivos">
            <div class="valign-wrapper col s10">
                <img id="imagenUsuarioSeleccionado" src="" alt="" class="circle responsive-img" width="50" height="50"> 
                <span id="nombreUsuarioSeleccionado" class="white-text"></span>
            </div>
          </a>

          <div class="input-field col s1">
            <div class="btn-floating btn-large waves-effect waves-light white file-field input-field">
              <div>
                <span><i class="material-icons colorCampusChat-text">image</i></span>
                <input id="imagenAdjunta" type="file" accept="image/*">
              </div>
            </div>
          </div>

          <div class="input-field col s1">
            <div class="btn-floating btn-large waves-effect waves-light white file-field input-field">
              <div>
                <span><i class="material-icons colorCampusChat-text">attach_file</i></span>
                <input id="archivoAdjunto" type="file" accept=".pdf,.doc,.docx,.odt" >
              </div>
            </div>
          </div>          
      </nav>

      <ul id="slide-out" class="side-nav fixed">
        <!--Encabezado del usuario imagen, nombre, correo-->       

      </ul>
      
    </header>
    
    
    <main>

        <div class="container center" id="logoInicio">
          <img class="responsive-img" width="650" src="/images/logo2.png">                    
        </div>

        <!--Contenedor de mensajes -->    
        <div id="chatBody" class="row contenedorChat" style="display:none">

          <div class="container"> 
            
            <div class="row">
                <ul class="collection col s12" id="chatList"> </ul>                
            </div>
            

          </div>
        </div>


        <!-- Modal Structure -->
        <div id="contactos" class="modal modal-fixed-footer">
          <div class="modal-content">
            <div class="row center">
                <div class="col s12">
                  <h4>Contactos</h4>                  
                </div>
              </div>
              <ul class="collection" id="contactosList">
                
              </ul>
          </div>
        </div>

    

        <!-- Estructura del modal de archivos del usuario-->
         <div id="archivos" class="modal bottom-sheet">
            <div class="modal-content">
              <div class="row center">
                <div class="col s12">
                  <h4>Multimedia y documentos</h4>                  
                </div>
              </div>
              <div class="container">                
              
                <div class="row">
                  <div class="col s12" style="overflow-y: hidden;">
                    <ul class="tabs">
                      <li class="tab col s5 offset-s1"><a class="active" href="#multimedia">Multimedia</a></li>
                      <li class="tab col s5"><a href="#documentos">Documentos</a></li>
                    </ul>
                  </div>
                </div>

                
                  <div id="multimedia" class="row">
                    <div class="col s2">
                      <img src="/images/natu1.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu2.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu3.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu4.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu5.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu6.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu7.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu8.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu1.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu2.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu3.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu4.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu5.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu6.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu7.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu8.jpg" alt="" class="responsive-img">
                    </div>
                  </div>

                  <div id="documentos" class="row">
                    <div class="col s2">
                      <img src="/images/docx.png" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/pdf.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/xls.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/docx.png" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/pdf.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/xls.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/docx.png" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/pdf.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/xls.jpg" alt="" class="responsive-img">
                    </div>
                    
                  </div>
              </div>
            </div>
          </div>

    </main>

    <footer>

      <div class="container">        
        <div class="row" id="footer" style="display:none">
          <form class="col s12 " onsubmit="return false;">
            <div class="row">
              <div class="input-field col s11">
                <i class="material-icons prefix">message</i>
                <input id="mensaje" name="mensaje" id="first_name" type="text" class="validate" required>
                <label for="mensaje" data-error="No se pueden enviar mensajes en blanco">Escribe un mensaje aquí</label>
              </div>
              <div class="input-field col s1">
                <button id="enviarMensajeButton" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons colorCampusChat">send</i></button>
              </div>
            </div>
          </form>
        </div>   
      </div>

    </footer>

   <!--SCRIPTS-->
   <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
   <script src="/js/dependencies/sails.io.js"></script>
   <script src="/js/materialize.js"></script>
   <script src="/js/materialize.min.js"></script>
   <!--SCRIPTS END-->

   <!--Inicio de los elementos-->
   <script type="text/javascript">
     $( document ).ready(function(){
       $('.modal').modal();
     });
   </script>

   <script>
    
     //Variables     
     //Usuarios
     var transmisor = '<%= session.user.id  %>';
     var receptor;
     var grupo;

     var cursos;
     var usuariosReceptores;
     var chatsUsuario;
     var chatSeleccionadoActual;
     //Petición para mensajes
     var peticion = '/mensajes/mensajes';          
     //Botones
     var enviarMensajeButton = document.querySelector('#enviarMensajeButton');     
     //Cuerpo del mensaje
     var mensaje = document.querySelector('#mensaje');
     var listaMensajes = document.querySelector('#chatList');
     //Contactos
     var contactosList = document.querySelector('#contactosList');
     

     function addMensajes(data) {

        var usuarioTransmisorChat = data.id_transmisor;
        var usuarioReceptorChat =  data.id_receptor;

        if (transmisor == usuarioTransmisorChat.id) {
            document.getElementById("imagenUsuarioSeleccionado").src = usuarioReceptorChat.imagen;
            $("#nombreUsuarioSeleccionado").html('&nbsp&nbsp'+usuarioReceptorChat.name+' '+usuarioReceptorChat.last_name);
        }else{
            document.getElementById("imagenUsuarioSeleccionado").src = usuarioTransmisorChat.imagen;
            $("#nombreUsuarioSeleccionado").html('&nbsp&nbsp'+usuarioTransmisorChat.name+' '+usuarioTransmisorChat.last_name);
        }

        $('#chatList').empty();   
        for(mensajeActual of data.messages){

          if ( (transmisor == mensajeActual.id_transmisor) && (transmisor == data.id_transmisor.id) ) {            

            $("#chatList").append('<li class="collection-item right-align col s12">'+              
                                  '<img title="'+data.id_transmisor.name+' '+data.id_transmisor.last_name+' '+data.id_transmisor.last_name2+'"src="'+data.id_transmisor.imagen+'" alt="" class="circle responsive-img right" width="50" height="50">'+
                                  '<p class="mensajeTransmisor right" title="'+formatoFechaMensajes(mensajeActual.fecha_envio)+'">'+mensajeActual.contenido+'<br>'+
                                  '</p>'+
                                '</li>'); 

          }else if ( (transmisor == mensajeActual.id_transmisor) && (transmisor == data.id_receptor.id) ) {

            $("#chatList").append('<li class="collection-item right-align col s12">'+              
                                  '<img title="'+data.id_receptor.name+' '+data.id_receptor.last_name+' '+data.id_receptor.last_name2+'"src="'+data.id_receptor.imagen+'" alt="" class="circle responsive-img right" width="50" height="50">'+
                                  '<p class="mensajeTransmisor right" title="'+formatoFechaMensajes(mensajeActual.fecha_envio)+'">'+mensajeActual.contenido+'<br>'+
                                  '</p>'+
                                '</li>');

          }else if ( (transmisor != mensajeActual.id_transmisor) && (transmisor == data.id_transmisor.id) ) {

            $("#chatList").append('<li class="collection-item valign-wrapper col s12">'+
                                  '<img title="'+data.id_receptor.name+' '+data.id_receptor.last_name+' '+data.id_receptor.last_name2+'"src="'+data.id_receptor.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                  '<p class="mensajeReceptor" title="'+formatoFechaMensajes(mensajeActual.fecha_envio)+'">'+mensajeActual.contenido+'<br>'+
                                  '</p>'+
                                '</li>'); 

          }else if ( (transmisor != mensajeActual.id_transmisor) && (transmisor == data.id_receptor.id) ) {

            $("#chatList").append('<li class="collection-item valign-wrapper col s12">'+
                                              '<img title="'+data.id_transmisor.name+' '+data.id_transmisor.last_name+' '+data.id_transmisor.last_name2+'"src="'+data.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                              '<p class="mensajeReceptor" title="'+formatoFechaMensajes(mensajeActual.fecha_envio)+'">'+mensajeActual.contenido+'<br>'+
                                              '</p>'+
                                            '</li>'); 
            
          }
          
        }

        $('#logoInicio').hide(); //oculto el logo                
        $('#nav').show(); //muestro el encabezado con la información del usuario seleccionado
        $('#footer').show(); //muestro el encabezado con la información del usuario seleccionado
        //Muestra el último mensaje
        $("#chatBody").animate({scrollTop: $(this).height()+100000}, 'fast');
        $('#chatBody').show(); //muestro la listas de mensajes        
        return false;

      }//addMensajes

      function addMensaje(data) {

        if ( chatSeleccionadoActual == data.id_chat.id_chat) {

          var usuarioTransmisorMensaje = data.id_transmisor;
          var usuarioReceptorMensaje =  data.id_receptor;

          //Misma información lo que va a cambiar es la posición en la lista de mensajes
          if ( transmisor == usuarioTransmisorMensaje.id ) {            

            $("#chatList").append('<li class="collection-item right-align col s12">'+
                                  '<img title="'+usuarioTransmisorMensaje.name+' '+usuarioTransmisorMensaje.last_name+' '+usuarioTransmisorMensaje.last_name2+'"src="'+usuarioTransmisorMensaje.imagen+'" alt="" class="circle responsive-img right" width="50" height="50">'+
                                  '<p class="mensajeTransmisor right" title="'+formatoFechaMensajes(data.fecha_envio)+'">'+data.contenido+'<br>'+
                                  '</p>'+
                                '</li>'); 

          }else {

            $("#chatList").append('<li class="collection-item valign-wrapper">'+
                                  '<img title="'+usuarioTransmisorMensaje.name+' '+usuarioTransmisorMensaje.last_name+' '+usuarioTransmisorMensaje.last_name2+'"src="'+usuarioTransmisorMensaje.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                  '<p class="mensajeReceptor" title="'+formatoFechaMensajes(data.fecha_envio)+'">'+data.contenido+'<br>'+
                                  '</p>'+
                                '</li>');

          }            

          //Muestra el mensaje enviado
          $("#chatBody").animate({scrollTop: $(this).height()+100000}, 'fast');
          return false;
        }else{
            //IMPLEMENTAR PASAR EL CHAT DE PRIMERO CON EL NUEVO MENSAJE
            actualizarListaChats();
        }
        
      }//addMensaje

      function newChat(data) {

        document.getElementById("imagenUsuarioSeleccionado").src = data.imagen;
        $("#nombreUsuarioSeleccionado").html('&nbsp&nbsp'+data.nombreCompaniero+' '+data.apellido1Companiero);
        $('#chatList').empty();  
        $('#logoInicio').hide(); //oculto el logo                
        $('#nav').show(); //muestro el encabezado con la información del usuario seleccionado
        $('#footer').show(); //muestro el encabezado con la información del usuario seleccionado
        //Muestra el último mensaje
        $("#chatBody").animate({scrollTop: $(this).height()+100000}, 'fast');
        $('#chatBody').show(); //muestro la listas de mensajes        
        return false;

      }//newChat

      function cursoSeleccionado(curso) { 
        console.log(curso.idCurso);
      }
 

      io.socket.on('new_message', function(newMessage){  
          addMensaje(newMessage);            
      });   


     /*FALTA IMPLEMENTAR EL ENVÍO DE MENSAJES*/
     /****************************************/ 
     enviarMensajeButton.addEventListener('click', function(e){
        //Verificar que exista archivos adjuntos o texto adjunto
        //var imagenAdjunta = document.getElementById('imagenAdjunta').files.length;        
        if (mensaje.value) {
          //imagenAdjunta = document.getElementById('imagenAdjunta').files[0];
          //console.log(imagenAdjunta);
          var data = {
            contenido: mensaje.value,
            id_transmisor: transmisor,
            id_receptor: receptor,
            id_grupo: grupo,
            id_chat: chatSeleccionadoActual
            //adjunto: imagenAdjunta
          }

          //Guardar los mensajes en la BD, persistencia
          
          io.socket.post('/mensajes', data, function(data, response) {
            //console.log(data);
            mensaje.value = null;
            //$('#imagenAdjunta').val(null);
          });
          

        }
     });   
     /*******************************************************************/

     function usuarioSeleccionado(usuario) { 
        //Usuario o grupo receptor
        receptor = usuario.idCompaniero; 
        //Se cierra el modal de los contactos del usuario
        $('#contactos').modal('close');  

        //Verificar que el chat exista o no en la lista chatsUsuario
        var chatSeleccionado; 
        var existeChat=false;

        for(let chatAct of chatsUsuario){
          if ( (chatAct.id_transmisor.id == transmisor && chatAct.id_receptor.id == receptor ) || (chatAct.id_transmisor.id == receptor && chatAct.id_receptor.id == transmisor )) {
            chatSeleccionado = chatAct;
            existeChat = true;
          }
        }//for

        if (existeChat) {
          //muestro el chat desde la lista chatsUsuario
          mostrarMensajes({ idChat : chatSeleccionado.id_chat });
        }else{

          //Creo un nuevo registro en la tabla chats
          var chat = { id_transmisor : transmisor, id_receptor : receptor };
          io.socket.post('/chats/create/', chat, function(data, response) {
            if (data) {
              for(let usuarioAct of usuariosReceptores){
                
                if ( (usuarioAct.idCompaniero == data.id_receptor) ) {
                  chatSeleccionadoActual = data.id_chat;
                  newChat(usuarioAct);
                  break;
                }
              }//for

              actualizarListaChats();
            }
          });
        }//else                  

      }//usuario seleccionado

      io.socket.on('chats', function (event) {
        //Si se crea un nuevo chat todos los usuarios actualizan su lista de contactos
        switch (event.verb) {
          case 'created':
            //Actualizar la lista de los chat cuando se crea un nuevo chat para el usuario
            if ( (transmisor == event.data.id_transmisor) || (transmisor == event.data.id_receptor) ) {
              actualizarListaChats();
            }
            
            break;
            
          default:
            console.warn('Evento del socket no reconocido por el servidor:',event.verb, event);
        }

      }); //io.socket.on chats 


     function actualizarListaChats() {
        //Actualizar la lista de chat del usuario
        $('#slide-out').empty();
        addEncabezadoListaChatsUsuarios();
        var chatData = { id_transmisor : transmisor, id_receptor : receptor, id_curso:grupo };
          io.socket.get('/chats/listchats',chatData,function(data, response) {

            chatsUsuario = data.chatsIndividuales;
            for(let chatActual of data.chatsIndividuales){
              addListaChatsUsuarios(chatActual);
            }  

          });//io.socket.get 
      }

      io.socket.get('/chats/chatsindex',function(data, response) {
        cursos = data.cursos;
        usuariosReceptores = data.companieros;
        chatsUsuario = data.chatsIndividuales;
        //console.log();
        //Obtener todo lo relacionado con el usuario, contactos, grupos, chats.
        for(cursoActual of data.cursos){
          addCursos(cursoActual);
        }   

        for(companieroActual of data.companieros){
          addContactos(companieroActual);
        }   

        addEncabezadoListaChatsUsuarios();
        for(chatActual of data.chatsIndividuales){
          addListaChatsUsuarios(chatActual);
        }     

      });//io.socket.get

      function mostrarMensajes(data) { 
        $('#chatList').empty(); 
        //Muestra los mensajes del chat seleccionado
        var idChatSeleccionado = data.idChat;

        for(let chatActual of chatsUsuario){
          if (chatActual.id_chat == idChatSeleccionado) {

            if (transmisor == chatActual.id_transmisor.id) {
              receptor = chatActual.id_receptor.id;
            }else{
              receptor = chatActual.id_transmisor.id;
            }
            chatSeleccionadoActual = chatActual.id_chat;
            addMensajes(chatActual);
          }
        } 
      }//addContactos

      function addEncabezadoListaChatsUsuarios(){
        //Agrega el encabezado de la lista de chats                 
        $('#slide-out').empty();        
        $("#slide-out").append('<li>'+
                                  '<div class="user-view colorCampusChat">'+
                                    '<img class="circle" src="<%= session.user.imagen  %>">'+
                                    '<div class="row">'+
                                      '<div class="col s10">'+
                                        '<a class="center"><span class="white-text name"><%= session.user.name  %> <%= session.user.last_name  %></span></a>'+
                                        '<a class="center"><span class="white-text email"><%= session.user.email  %></span></a>'+
                                      '</div>'+
                                      '<div class="col s2">'+
                                        '<a href="#contactos" title="Nuevo chat" class="btn-floating btn-large waves-effect waves-light white modal-trigger"><i class="material-icons colorCampusChat-text">message</i></a>'+
                                      '</div>'+
                                    '</div>'+
                                    
                                  '</div>'+
                                '</li>');                                     
 
      }//addEncabezadoListaChatsUsuarios


      function addListaChatsUsuarios(data) { 
        //Agregar los chats a la lista de chats
        if (transmisor == data.id_transmisor.id) {
          $("#slide-out").append('<li>'+
                                    '<a href="#" onclick="mostrarMensajes({idChat:'+data.id_chat+'});return false;">'+
                                      '<div class="valign-wrapper">'+
                                          '<img src="'+data.id_receptor.imagen+'" alt="" class="circle responsive-img" width="50" height="50"> '+
                                          '<span class="black-text">'+
                                            data.id_receptor.name+" "+data.id_receptor.last_name+
                                          '</span>'+
                                      '</div>'+
                                    '</a>'+
                                    '<div class="divider"></div>'+
                                    '<div class="divider"></div>'+
                                  '</li>');
        }else{
          $("#slide-out").append('<li>'+
                                    '<a href="#" onclick="mostrarMensajes({idChat:'+data.id_chat+'});return false;">'+
                                      '<div class="valign-wrapper">'+
                                          '<img src="'+data.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50"> '+
                                          '<span class="black-text">'+
                                            data.id_transmisor.name+" "+data.id_transmisor.last_name+
                                          '</span>'+
                                      '</div>'+
                                    '</a>'+
                                    '<div class="divider"></div>'+
                                    '<div class="divider"></div>'+
                                  '</li>');
        } 
      }//addListaChatsUsuarios

      function addContactos(data) { 
        //Agregar los usuarios relacionados a la lista de contactos
        $("#contactosList").append('<li class="collection-item avatar">'+
                                          '<a href="#" onclick="usuarioSeleccionado({ idCompaniero:'+data.idCompaniero+' });return false;'+'">'+
                                            '<img src="'+data.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                            '<span class="title black-text">Estudiante</span>'+
                                            '<p class="black-text">'+data.nombreCompaniero+" "+data.apellido1Companiero+'</p>'+
                                            '<a  class="secondary-content"><i class="material-icons colorCampusChat-text">message</i></a>'+
                                          '</a>'+
                                        '</li>');
 
      }//addContactos

      function addCursos(data) { 
        //Agregar los cursos a la lista de contactos
        $("#contactosList").append('<li class="collection-item avatar">'+
                                          '<a href="#" onclick="cursoSeleccionado({ idCurso:'+data.idCurso+' });return false;'+'">'+
                                            '<img src="/images/curso.png" alt="" class="circle responsive-img" width="50" height="50">'+
                                            '<span class="title black-text">Curso</span>'+
                                            '<p class="black-text">'+data.nombreClase+'</p>'+
                                            '<a  class="secondary-content"><i class="material-icons colorCampusChat-text">message</i></a>'+
                                          '</a>'+
                                        '</li>');
 
      }//addCursos

      function formatoFechaMensajes(fecha){
        //Formato de las fechas
        var anio = fecha.substring(0,4);
        var mes = fecha.substring(5,7);
        var dia = fecha.substring(8,10);
        var hora = fecha.substring(11,19);
        var formatFecha = dia+'-'+mes+'-'+anio+' Hora: '+ hora;
        return formatFecha;
      }//formatoFechaMensajes   
     
   </script>

  </body>
</html>